* {
    box-sizing: border-box;
}

body {
    background-color: #E1E2E1;
    font-family: Arial, sans-serif;
    color: #2d5972;

}
.wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #F5F5DC;
    padding: 20px 35px;
    border-radius: 6px;
}

.avatar {
    float: left;
    padding: 0 50px 0 15px;
}

.information {
    padding-top: 5px;
}

.information h2 {
    font-weight: normal;
}

.information ul {
    list-style-type: none;
}

.information li span {
    font-weight: bold;
}

main {
    clear: both;
    padding-top: 30px;
}

main h3 {
    margin-top: 30px;
}

dd {
    margin-bottom: 10px;
}

dt {
    font-style: italic;
}